@model List<Meeting>
@{
    var scheduleAvailabilities = (IEnumerable<ScheduleAvailability>)ViewData["scheduleAvailabilities"];
    var selectList = scheduleAvailabilities.Select(s => new SelectListItem { Value = s.ScheduleAvailabilityId.ToString(), Text = s.ToString() });
}
<div id="schedule-wrapper" class="p-1">
    @for(int i = 0; i < Model.Count; i++)
    {
    <div class="row border border-primary pl-1 pr-1 class-schedule">
        <div class="col-3">
            <div class="form-group">
                <input type="hidden" asp-for="@Model[i].MeetingId" name="Meetings[@i].MeetingId" />
                <label asp-for="@Model[i].MeetingOrderNum">Meeting #</label>
                <input asp-for="@Model[i].MeetingOrderNum" name="Meetings[@i].MeetingOrderNum" class="form-control" />
                <span class="text-warning" asp-validation-for="@Model[i].MeetingOrderNum"></span>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group">
                <label asp-for="@Model[i].ScheduleAvailabilityId">Schedule Availability</label>
                <select asp-for="@Model[i].ScheduleAvailabilityId" asp-items="selectList" name="Meetings[@i].ScheduleAvailabilityId" class="form-control" required></select>
                <span class="text-warning" asp-validation-for="@Model[i].ScheduleAvailabilityId"></span>
            </div>
        </div>
    </div>
    }
</div>
