@{ 
    Layout = "~/Pages/Shared/_Layout.cshtml";
    string url = Context.Request.Path.ToString();
}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">@ViewData["ClassTitle"]</h2>
        <h5 class="card-subtitle mb-4 text-muted">@ViewData["ClassSubtitle"]</h5>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link @(url.EndsWith("Students", StringComparison.OrdinalIgnoreCase) ? "active" : "")" href="/Classes/@ViewData["ClassId"]/Students">Students</a>
                    <a class="nav-link @(url.EndsWith("Attendance", StringComparison.OrdinalIgnoreCase) ? "active" : "")" href="/Classes/@ViewData["ClassId"]/Attendance" id="attendance-tab">Attendance</a>
                    <a class="nav-link @(url.EndsWith("Assessments", StringComparison.OrdinalIgnoreCase) ? "active" : "")" href="/Classes/@ViewData["ClassId"]/Assessments" id="assessments-tab">Assessments</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>