@page "{schoolId:int?}/{termId:int?}/{courseId:int?}"
@model Smart.Pages.Classes.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    bool termHasNotStartedYet = Model.SelectedTerm.StartDate > DateTime.Today;
}
 
<div id="main-section" class="container carousel-item active">

    @if (termHasNotStartedYet)
    {
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#form-modal" onclick="getCourseForm()"><i class="fa fa-plus"></i> Course</button>
    }
<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
    <div class="col-3">
        <div class="align-content-center">
            <select asp-for="SchoolId" asp-items="Model.Schools.Select(t => new SelectListItem { Value = t.SchoolId.ToString(), Text = t.Name })" style="background:#fff" class="form-control" onchange="window.location.replace('/Classes/' + this.value + '/@(Model.SelectedTerm.TermId)@(Model.SelectedCourseId.HasValue ? $"/{Model.SelectedCourseId.Value}" : "")');"></select>
        </div>
    </div>
    <div class="col-3">
        <div class="align-content-center">
            <select asp-for="SelectedTerm.TermId" asp-items="Model.Terms.Select(t => new SelectListItem { Value = t.TermId.ToString(), Text = t.Name })" style="background:#fff" class="form-control" onchange="window.location.replace('/Classes/@(Model.SchoolId)/' + this.value + '@(Model.SelectedCourseId.HasValue ? $"/{Model.SelectedCourseId.Value}" : "")');"></select>
        </div>
    </div>
</nav>

    @if (Model.Courses != null && Model.Courses.Any())
    {
        <div class="accordion" id="accordionExample">
            @foreach (var course in Model.Courses)
            {
                string collapseId = $"collapse-course-{course.Course.CourseId}";
                bool isSelectedCourse = Model.SelectedCourseId.HasValue && Model.SelectedCourseId.Value == course.Course.CourseId;

                <div class="card">
                    <div class="card-header parent" data-toggle="collapse" data-target="#@collapseId" aria-expanded="@(isSelectedCourse ? "true": "false")" aria-controls="@collapseId" style="cursor:pointer">
                        <h4 class="mb-0" style="display:inline-block">
                            @course.Course.Name
                        </h4>
                        <div class="btn-group btn-group-sm float-right show-on-parent-hover" role="group">
                            <a class="btn btn-primary text-white" data-toggle="modal" data-target="#form-modal" onclick="getCourseForm(@course.Course.CourseId)">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-danger text-white" data-toggle="modal" data-target="#form-modal" onclick="getCourseForm(@course.Course.CourseId)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>

                    <div id="@collapseId" class="collapse @(isSelectedCourse? "show" : "")" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            @if (termHasNotStartedYet)
                            {
                                <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#form-modal" onclick="getClassForm(@course.Course.CourseId, @Model.SelectedTerm.TermId)"><i class="fa fa-plus"></i> Class</button>
                            }
                            <div id="course-@course.Course.CourseId-classes">
                                @if (course.Classes != null && course.Classes.Any())
                                {
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">CRN</th>
                                                <th scope="col">Schedule</th>
                                                <th scope="col">Instructor</th>
                                                <th scope="col">Students</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in course.Classes)
                                            {
                                                <tr class="parent">
                                                    <th scope="col">@item.ClassId</th>
                                                    <td>@item.Schedule</td>
                                                    <td>@item.InstructorName</td>
                                                    <td><button type="button" class="btn btn-link btn-sm" style="color:#7989ff" data-toggle="modal" data-target="#form-modal" onclick="getStudentsList(@item.ClassId)">@item.EnrolledStudentCount/@item.Capacity</button></td>
                                                    <td>
                                                        <div class="btn-group btn-group-sm show-on-parent-hover" role="group">

                                                            @if (termHasNotStartedYet)
                                                            {

                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-modal" onclick="getClassForm(@course.Course.CourseId, @Model.SelectedTerm.TermId, @item.ClassId)">
                                                                    <i class="fas fa-edit"></i>
                                                                </button>
                                                            }
                                                            <a class="btn btn-success text-white" href="/Classes/@item.ClassId/Students">
                                                                <i class="fas fa-list-alt"></i>
                                                            </a>

                                                            @if (termHasNotStartedYet)
                                                            {

                                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form-modal" onclick="getClassForm(@course.Course.CourseId, @Model.SelectedTerm.TermId, @item.ClassId)">
                                                                    <i class="fas fa-trash-alt"></i>
                                                                </button>
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="alert alert-primary">No @(course.Course.Name) classes @(termHasNotStartedYet ? "have been created yet" : $"were created") for @Model.SelectedTerm.Name</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-primary">No courses have been created yet.</div>
    }
</div>


@section Scripts
{
    <script>
        const classBaseUrl = '/Classes?handler=';

        function getCourseForm(courseId) {
            const getHandler = classBaseUrl + 'CourseForm' + (courseId ? '&courseId=' + courseId : '');
            const postHandler = classBaseUrl + 'SaveCourse&schoolId=@(Model.SchoolId)&termId=@(Model.SelectedTerm.TermId)'
            const modalTitle = `${courseId ? 'Edit' : 'Create'} Course`;
            getForm(modalTitle, getHandler, postHandler);
        }

        function getClassForm(courseId, termId, classId) {
            const getHandler = classBaseUrl + `ClassForm&courseId=${courseId}&termId=${termId}` + (classId ? '&classId=' + classId : '');
            const postHandler = classBaseUrl + 'SaveClass';
            const modalTitle = `${classId ? 'Edit' : 'Create'} Class`;
            getForm(modalTitle, getHandler, postHandler);
        }

        function getStudentsList(classId) {
            const getHandler = classBaseUrl + `StudentsList&classId=${classId}`;
            const modalTitle = 'Roster';
            getForm(modalTitle, getHandler);
        }     
    </script>
}