@page "{timeOfYear:int?}/{year:int?}/{courseId:int?}"
@model Smart.Pages.Classes.IndexModel
@{
    ViewData["Title"] = "Index";
    bool termHasNotStartedYet = Model.TermHasNotStartedYet();
    var nextTermRouteData = new Dictionary<string, string>()
    {
        { "courseId", Model.SelectedCourseId.ToString() },
        { "timeOfYear", Model.TimeOfYear == TimeOfYear.Fall ? ((int)TimeOfYear.Spring).ToString() : ( (int)Model.TimeOfYear + 1).ToString() },
        { "year", Model.TimeOfYear == TimeOfYear.Fall ? ((int)Model.Year + 1).ToString() : ((int)Model.Year).ToString() }
    };
    var previousTermRouteData = new Dictionary<string, string>()
    {
        { "courseId", Model.SelectedCourseId.ToString() },
        { "timeOfYear", Model.TimeOfYear == TimeOfYear.Spring ? ((int)TimeOfYear.Fall).ToString() : ((int)Model.TimeOfYear - 1).ToString() },
        { "year", Model.TimeOfYear == TimeOfYear.Spring ? ((int)Model.Year - 1 ).ToString() : ((int)Model.Year).ToString() }
    };
}
<h3>Term</h3>
<div class="row p-3">
    <div>
        <a asp-all-route-data="previousTermRouteData" type="button" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
        </a>
    </div>
    <div class="col-3">
        <div class="form-group">
            <select asp-for="TimeOfYear" asp-items="Html.GetEnumSelectList<TimeOfYear>()" class="form-control" onchange="window.location.replace('/Classes/' + this.value + '/@(Model.Year)@(Model.SelectedCourseId.HasValue ? $"/{Model.SelectedCourseId.Value}" : "")');"></select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <input asp-for="Year" class="form-control" onchange="window.location.replace('/Classes/@((int)Model.TimeOfYear)/' + this.value@(Model.SelectedCourseId.HasValue ? $"+'/{Model.SelectedCourseId.Value}'" : ""))" />
        </div>
    </div>
    <div>
        <a asp-all-route-data="nextTermRouteData" type="button" class="btn btn-primary">
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
</div>

@if (termHasNotStartedYet)
{
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#modal" onclick="getCourseForm()"><i class="fa fa-plus"></i> Course</button>
}

@if (Model.Courses != null && Model.Courses.Any())
{
    <div class="accordion" id="accordionExample">
        @foreach (var course in Model.Courses)
        {
            string collapseId = $"collapse-course-{course.Course.CourseId}";
            bool isSelectedCourse = Model.SelectedCourseId.HasValue && Model.SelectedCourseId.Value == course.Course.CourseId;

            <div class="card">
                <div class="card-header parent" data-toggle="collapse" data-target="#@collapseId" aria-expanded="@(isSelectedCourse ? "true": "false")" aria-controls="@collapseId" style="cursor:pointer">
                    <h4 class="mb-0" style="display:inline-block">
                        @course.Course.Name
                    </h4>
                    <div class="btn-group btn-group-sm float-right show-on-parent-hover" role="group">
                        <a class="btn btn-primary text-white" data-toggle="modal" data-target="#modal" onclick="getCourseForm(@course.Course.CourseId)">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white" data-toggle="modal" data-target="#modal" onclick="getCourseForm(@course.Course.CourseId)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>

                <div id="@collapseId" class="collapse @(isSelectedCourse? "show" : "")" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        @if (termHasNotStartedYet)
                        {
                            <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#modal" onclick="getClassForm(@course.Course.CourseId, '@Model.TimeOfYear', @Model.Year)"><i class="fa fa-plus"></i> Class</button>
                        }
                        <div id="course-@course.Course.CourseId-classes">
                            @if (course.Classes != null && course.Classes.Any())
                            {
                                <table class="table table-sm table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">CRN</th>
                                            <th scope="col">Schedule</th>
                                            <th scope="col">Instructor</th>
                                            <th scope="col">Students</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in course.Classes)
                                        {
                                            <tr class="parent">
                                                <th scope="col">@item.ClassId</th>
                                                <td>@item.Schedule</td>
                                                <td>@item.InstructorName</td>
                                                <td><button type="button" class="btn btn-link btn-sm" style="color:#7989ff" data-toggle="modal" data-target="#modal" onclick="getStudentsList(@item.ClassId)">@item.EnrolledStudentCount/@item.Capacity</button></td>
                                                <td>
                                                    @if (termHasNotStartedYet)
                                                    {
                                                        <div class="btn-group btn-group-sm show-on-parent-hover" role="group">
                                                            <a class="btn btn-primary text-white" data-toggle="modal" data-target="#modal" onclick="getClassForm(@course.Course.CourseId, '@Model.TimeOfYear', @Model.Year, @item.ClassId)">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a class="btn btn-danger text-white" data-toggle="modal" data-target="#modal" onclick="getClassForm(@course.Course.CourseId, '@Model.TimeOfYear', @Model.Year, @item.ClassId)">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="alert alert-primary">No @(course.Course.Name) classes @(termHasNotStartedYet ? "have been created yet" : $"were created") for @Model.TimeOfYear @(Model.Year).</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-primary">No courses have been created yet.</div>
}


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="modal-form" method="post">
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="modal-save">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function getCourseForm(courseId) {
            const getHandler = 'CourseForm' + (courseId ? '&courseId=' + courseId : '');
            const postHandler = 'SaveCourse&timeOfYear=@(Model.TimeOfYear)&year=@(Model.Year)'
            const modalTitle = `${courseId ? 'Edit' : 'Create'} Course`;
            getForm(modalTitle, getHandler, postHandler);
        }

        function getClassForm(courseId, timeOfYear, year, classId) {
            const getHandler = `ClassForm&courseId=${courseId}&timeOfYear=${timeOfYear}&year=${year}` + (classId ? '&classId=' + classId : '');
            const postHandler = 'SaveClass';
            const modalTitle = `${classId ? 'Edit' : 'Create'} Class`;
            getForm(modalTitle, getHandler, postHandler);
        }

        function getStudentsList(classId) {
            const getHandler = `StudentsList&classId=${classId}`;
            const modalTitle = 'Roster';
            getForm(modalTitle, getHandler);
        }

        function getForm(modalTitle, getHandler, postHandler) {
            const baseUrl = '/Classes?handler=';

            // Add form action
            if (postHandler) {
                $('#modal-form').attr('action', baseUrl + postHandler);
            }

            const modalBody = $('#modal-body');

            // Clear modal body
            $(modalBody).text('Loading...');

            // Add modal title
            $('#modal-title').text(modalTitle);

            // Get form HTML and intialize client-side validation
            $(modalBody).load(baseUrl + getHandler, null, () => { $.validator.unobtrusive.parse('form'); });
        }
    </script>
}