@page
@model Smart.Pages.Grades.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentAssessment[0].PointsAwarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAssessment[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAssessment[0].SubmissionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAssessment[0].Assessment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAssessment[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAssessment[0].File)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentAssessment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PointsAwarded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assessment.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File.FileName)
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-primary text-white" asp-route-idassesment="@item.AssessmentId" asp-route-studentId="@item.StudentId"><i class="fas fa-edit"></i></a>
                <a asp-page="./Details" class="btn btn-success text-white" asp-route-idassesment="@item.AssessmentId" asp-route-studentId="@item.StudentId"><i class="fas fa-list-alt"></i></a>
                <a asp-page="./Delete" class="btn btn-danger text-white" asp-route-idassesment="@item.AssessmentId" asp-route-studentId="@item.StudentId"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-page="Create" asp-route-studentId="@Model.StudentAssessment[0].StudentId" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp;  Add Grade </a>
