@page
@model Smart.Pages.Scheduling.IndexModel
@{
    ViewData["Title"] = "Index";

    //Sunday is 0
    int currentDayOfWeek = (int)DateTime.Now.DayOfWeek - 1;
}
<script type="text/javascript">
    console.log(@currentDayOfWeek)
</script>

<div class="row">
    <div class="col-6">
        <h2>Schedule</h2>
        <h2>@Model.MyStudent.FirstName @Model.MyStudent.LastName</h2>
        <a asp-page="PublicSchedule" asp-route-studentId="3" class="btn btn-primary">Add Public School Schedule</a>
    </div>
    <div class="col-6">
        <h2>Required Courses</h2>
        <table class="table table-primary table-hover">
            <thead data-toggle="collapse">
                <tr>
                    <th>Course Id</th>
                    <th>Course</th>
                    <th>Details</th>
                    <th>Registered?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reqCourse in Model.RequiredCourses)
                {
                    <tr>
                        <td>@reqCourse.CourseId</td>
                        <td>@reqCourse.Name</td>
                        <td>
                            <input type="button" class="btn btn-primary" data-toggle="collapse" data-target="ClassesOptions" value="Test" />
                            <div id="ClassesOptions" class="collapse">
                                <table class="table table-info">
                                    @*@foreach (var classOption in reqCourse.Classes)
                                        {
                                            <tr>
                                                <td>
                                                    @classOption.Course
                                                </td>
                                                <td>
                                                    Register
                                                </td>
                                            </tr>
                                        }*@
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <tr>
                                            <td>
                                                Test
                                            </td>
                                            <td>
                                                Register
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </td>
                        <td><i class="far fa-thumbs-up fa-2x"></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="row" style="padding-top: 10px;">
    <h2>Enrolled Courses</h2>
    <div class="col-12">
        <table class="table table-striped border col-md-12">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Instructor</th>
                    <th>Schedule</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.MyClasses.Count == 0)
                {
                    <tr>
                        <td colspan="4"><h4 class="text-danger">Not Currently enrolled in any courses this term</h4></td>
                    </tr>
                }
                @foreach (var course in Model.MyClasses)
                {
                    <tr>
                        <td>@course.Class.Course.Name</td>
                        <td>@(@course.Class.InstructorUser.FirstName) @(@course.Class.InstructorUser.LastName)</td>
                        <td>@ClassSchedule.GetScheduleString(course.Class.ClassSchedules)</td>
                        <td>INSERT DELETE OPERATION HERE</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <h2>Potential Classes</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Class Id</th>
                <th>Class</th>
                <th>Instructor</th>
                <th>Schedule</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classOption in Model.Classes)
            {
                <tr>
                    <td>@classOption.ClassId</td>
                    <td>@classOption.Course.Name</td>
                    <td>@(@classOption.InstructorUser.FirstName) @(classOption.InstructorUser.LastName)</td>
                    <td>@ClassSchedule.GetScheduleString(classOption.ClassSchedules)</td>
                    <td style="width: 150px">
                        <form method="post">
                            <div class="form-group">
                                <button type="submit" asp-route-id="@classOption.ClassId" asp-route-studentId="@Model.MyStudent.StudentId" class="btn btn-primary fas fa-plus"> Register</button>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabIndex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Class</h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you'd like to remove the student from
                    this class? <br>This action can't be undone.
                </p>
                <form class="form-group" asp-page="Index" method="post">
                    <input type="hidden" id="SelectedClass" />
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </form>

            </div>

        </div>
    </div>

</div>
