@page
@model Smart.Pages.Scheduling.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-primary text-center">
    <h1>Schedule</h1>
    <select>
        @foreach(var term in Model.Terms)
        {
            <option value="@term.TermId">@term.Name: @term.StartDate.ToString("dd, MMMM, yyyy") - @term.EndDate.ToString("dd, MMMM, yyyy")</option>
        }
    </select>
</div>

<div class="row">
    <div class="col-6 text-left">
        <h1>@Model.MyStudent.FirstName @Model.MyStudent.LastName</h1>
    </div>
    <div class="col-6 text-justify text-right">
        <h2>English Level: @Model.MyStudent.EnglishLevel</h2>
        <h2>It Level: @Model.MyStudent.ItLevel</h2>
    </div>
</div>


<div class="alert alert-info col-12">
    <div class="row" style="padding-top: 10px">
        <div class="col-6 text-left">
            <h3>SMART Courses</h3>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" href="~/Classes">Add Course</a>
        </div>
    </div>
</div>
<div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3">
                        Course Name:
                    </th>
                    <th colspan="3">
                        Instructor:
                    </th>
                    <th colspan="3">
                        Time Options:
                    </th>
                    <th colspan="3" class="text-right">
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @if(@Model.StudentMeetings.Count() > 0)
                {
                    @foreach(var meeting in @Model.StudentMeetings.Where(i => i.Meeting.Class.Course.School.Name.Contains("No Poor Among Us")))
                    {
                <tr>
                    <td colspan="3">@meeting.Meeting.Class.Course.Name</td>
                    <td colspan="3">@meeting.Meeting.Class.InstructorUser.FirstName @meeting.Meeting.Class.InstructorUser.LastName</td>
                    <td colspan="3">@meeting.Meeting.ScheduleAvailability.DayOfWeek: @meeting.Meeting.ScheduleAvailability.StartTime - @meeting.Meeting.ScheduleAvailability.EndTime</td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
                    {
                        <td colspan="3" class="text-right">
                            <form method="post">
                                <button type="submit" class="btn btn-danger fas fa-trash-alt" asp-route-meetingId="@meeting.MeetingId" asp-route-studentId="@Model.MyStudent.StudentId" asp-route-delete="1">
                                </button>
                            </form>

                        </td>
                    }
                    else
                    {
                        <td colspan="3" class="text-right">
                            Contact Admin/Instructor To Remove From Course
                        </td>
                    }

                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan=12>@Model.MyStudent.FirstName @Model.MyStudent.LastName is not registered for any classes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<div class="row" style="padding-left: 25px; padding-right: 25px; padding-bottom:15px;">
    <button class="btn btn-info" data-toggle="collapse" href="#SmartCoursesDropDowntable" role="button" aria-expanded="false" aria-controls="SmartsCoursesDropDowntable">Potential Classes</button>
</div>
<div class="row">
    <div class="col-12">
        <div class="collapse" id="SmartCoursesDropDowntable">
            <div class="alert alert-info col-12">
                <div class="row">
                    <div class="col-12">
                        <h2>Available SMART Courses</h2>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3">
                            Course Name:
                        </th>
                        <th colspan="3">
                            Instructor:
                        </th>
                        <th colspan="3">
                            Time Options:
                        </th>
                        <th colspan="3" class="text-right">
                            Options
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(@Model.Meetings.Where(i => i.Class.Course.SchoolId == 1).Count() > 0)
                    {
                    @foreach(var meeting in Model.Meetings.Where(i => i.Class.Course.SchoolId == 1))
                    {
                    <tr>
                        <td colspan="3">@meeting.Class.Course.Name</td>
                        <td colspan="3">@meeting.Class.InstructorUser.FirstName @meeting.Class.InstructorUser.LastName</td>
                        <td colspan="3">@meeting.ScheduleAvailability.DayOfWeek: @meeting.ScheduleAvailability.StartTime - @meeting.ScheduleAvailability.EndTime</td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
                        {
                            <td colspan="3" class="text-right">
                                <form method="post">
                                    <button type="submit" asp-page="Index" asp-route-meetingId="@meeting.MeetingId" asp-route-studentId="@Model.MyStudent.StudentId" class="btn btn-primary fas fa-plus"> Register</button>
                                </form>
                            </td>
                        }
                        else
                        {
                            <td colspan="3" class="text-right">
                                Only Admin/Instructor Can Register
                            </td>
                        }

                    </tr>
                    }
                    }
                    else{
                        <tr>
                            <td colspan="12">No SMART Courses left for Registration</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="alert alert-warning col-12">
        <div class="row" style="padding-top: 10px">
            <div class="col-4 text-left">
                <h3>Public Courses</h3>
            </div>
            <div class="col-4 text-center">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="PublicSchoolDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Public Schools
                    </button>
                    <div class="dropdown-menu" aria-labelledby="PublicSchoolDropdown">
                        @foreach(var school in @Model.PublicSchools)
                        {
                            <button class="dropdown-item" onclick="document.getElementById('PublicSchoolSelected').innerHTML = '<h2>@school.Name</h2>'; document.getElementById('SelectedPublicSchoolForPotentialClasses').innerText = '@school.Name'; document.getElementById('SelectedPublicSchool').value = @school.SchoolId;">@school.Name</button>
                        }
                        <!-- <button class="dropdown-item" onclick="document.getElementById('PublicSchoolSelected').innerHTML = '<h2>School 1</h2>'; document.getElementById('SelectedPublicSchoolForPotentialClasses').innerText = 'School 1'; document.getElementById('SelectedPublicSchool').value = 1;">School 1</button>
                        <button class="dropdown-item" onclick="document.getElementById('PublicSchoolSelected').innerHTML = '<h2>School 2</h2>'; document.getElementById('SelectedPublicSchoolForPotentialClasses').innerText = 'School 2'; document.getElementById('SelectedPublicSchool').value = 2;">School 2</button>
                        <button class="dropdown-item" onclick="document.getElementById('PublicSchoolSelected').innerHTML = '<h2>School 3</h2>'; document.getElementById('SelectedPublicSchoolForPotentialClasses').innerText = 'School 3'; document.getElementById('SelectedPublicSchool').value = 3;">School 3</button> -->
                    </div>
                    <input type="hidden" id="SelectedPublicSchool" />
                </div>
                
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-primary" href="~/Classes">Add Course</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-left" style="padding-top: 7px;" id="PublicSchoolSelected"></div>
        </div>
    </div>
</div>
<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th colspan="3">
                    Course Name:
                </th>
                <th colspan="3">
                    Instructor:
                </th>
                <th colspan="3">
                    Time Options:
                </th>
                <th colspan="3" class="text-right">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @if(@Model.StudentMeetings.Where(i => (!i.Meeting.Class.Course.School.Name.Contains("No Poor Among Us"))).Count() > 0)
                {
                    @foreach(var meeting in @Model.StudentMeetings.Where(i => (!i.Meeting.Class.Course.School.Name.Contains("No Poor Among Us"))))
                    {
            <tr>
                <td colspan="3">@meeting.Meeting.Class.Course.Name</td>
                <td colspan="3">@meeting.Meeting.Class.InstructorUser.FirstName @meeting.Meeting.Class.InstructorUser.LastName</td>
                <td colspan="3">@meeting.Meeting.ScheduleAvailability.DayOfWeek: @meeting.Meeting.ScheduleAvailability.StartTime - @meeting.Meeting.ScheduleAvailability.EndTime</td>
                @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
                {
                    <td colspan="3" class="text-right">
                        <form method="post">
                            <button type="submit" class="btn btn-danger fas fa-trash-alt" asp-route-meetingId="@meeting.MeetingId" asp-route-studentId="@Model.MyStudent.StudentId" asp-route-delete="1">
                            </button>
                        </form>

                    </td>
                }
                else
                {
                    <td colspan="3" class="text-right">
                        Contact Admin/Instructor To Remove From Course
                    </td>
                }

            </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan=12>@Model.MyStudent.FirstName @Model.MyStudent.LastName is not registered for any public classes</td>
                    </tr>
                }
        </tbody>
    </table>
</div>
<div class="row" style="padding-left: 25px; padding-right: 25px; padding-bottom:15px;">
    <button class="btn btn-info" data-toggle="collapse" href="#PublicCoursesDropDowntable" role="button" aria-expanded="false" aria-controls="PublicCoursesDropDowntable">Potential Classes</button>
</div>
<div class="row">
    <div class="col-12">
        <div class="collapse" id="PublicCoursesDropDowntable">
            <div class="alert alert-warning col-12">
                <div class="row">
                    <div class="col-12">
                        <h2>Available Courses at <span id="SelectedPublicSchoolForPotentialClasses"></span></h2>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3">
                            Course Name:
                        </th>
                        <th colspan="3">
                            Instructor:
                        </th>
                        <th colspan="3">
                            Time Options:
                        </th>
                        <th colspan="3" class="text-right">
                            Options
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(@Model.Meetings.Where(i => i.Class.Course.SchoolId != 1).Count() > 0)
                    {
                        @foreach(var meeting in Model.Meetings.Where(i => i.Class.Course.SchoolId != 1))
                    {
                    <tr>
                        <td colspan="3">@meeting.Class.Course.Name</td>
                        <td colspan="3">@meeting.Class.InstructorUser.FirstName @meeting.Class.InstructorUser.LastName</td>
                        <td colspan="3">@meeting.ScheduleAvailability.DayOfWeek: @meeting.ScheduleAvailability.StartTime - @meeting.ScheduleAvailability.EndTime</td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
                        {
                            <td colspan="3" class="text-right">
                                <form method="post">
                                    <button type="submit" class="btn btn-primary fas fa-plus"> Register</button>
                                </form>
                            </td>
                        }
                        else
                        {
                            <td colspan="3" class="text-right">
                                Only Admin/Instructor can Register
                            </td>
                        }

                    </tr>
                    }
                    }
                    else{
                        <tr>
                            <td colspan="12">No Public Courses Created Yet</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>






