@page
@model Smart.Pages.Scheduling.PublicScheduleModel
@{
    ViewData["Title"] = "PublicSchedule";
    var daysOfTheWeek = "";
    var startTime = "";
    var endTime = "";
}

<div class="row text-center">
    <h2>Public Schedule</h2>
</div>
<div class="row" style="padding-bottom: 10px">
    <a asp-page="Index" class="btn btn-primary">Back To Schedule</a>
</div>

<form method="post">
    <div class="row">
        <div class="col-3 form-group">
            <label asp-for="CourseName" class="control-label"></label>
            <input type="text" asp-for="CourseName" class="form-control" placeholder="Enter Course Name" />
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>
        <div class="col-2 form-group">
            <label asp-for="DayOfWeek" class="control-label"></label> <br />
            <input type="checkbox" name="Monday" value="0" /> Monday <br />
            <input type="checkbox" name="Tuesday" value="0" /> Tuesday <br />
            <input type="checkbox" name="Wednesday" value="0" /> Wednesday <br />
            <input type="checkbox" name="Thursday" value="0" /> Thursday <br />
            <input type="checkbox" name="Friday" value="0" /> Friday <br />
            <span asp-validation-for="DayOfWeek" class="text-danger"></span>
        </div>
        <div class="col-3 offset-1 form-group">
            <label asp-for="StartTime" class="control-label"></label>
            <input type="time" asp-for="StartTime" class="form-control" placeholder="Start Time" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
        <div class="col-3 form-group">
            <label asp-for="EndTime" class="control-label"></label>
            <input type="time" asp-for="EndTime" class="form-control" placeholder="End Time" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
        <div class="col-3 offset-9 form-group text-right">
            <input type="submit" name="Submit" class="btn btn-success" value="Add Course" />
        </div>

    </div>
</form>

<div class="row">
    <table class="col-12 table table-secondary table-striped">
        <thead>
            <tr>
                <th>
                    Course
                </th>
                <th>
                    Day(s)
                </th>
                <th>
                    Start Time:
                </th>
                <th>
                    End Time:
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PublicSchedule.Count == 0)
            {
                <tr>
                    <td colspan="4"><h2>No Public Classes Created Yet</h2></td>
                </tr>
            }
            else
            {
                @foreach (var schoolClass in Model.MyPublicSchoolSchedule)
                {
                    <tr>
                        <td>@schoolClass.CourseName</td>
                        <td>@schoolClass.DaysOfTheWeek</td>
                        <td>@schoolClass.StartTime</td>
                        <td>@schoolClass.EndTime</td>
                        <td style="width:150px">
                            <div class="btn-group" role="group">
                                <button onclick="document.getElementById('SelectedClass').value = @schoolClass.ClassId; document.getElementById('IsPublicSchool').value = '1';" class="btn btn-danger text-white" data-target="#DeleteModal" data-toggle="modal"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>

</div>


<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabIndex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Class</h4>
            </div>
            <div class="modal-body">
                <div id="ClassName"></div>
                <p>
                    Are you sure you'd like to remove the student from
                    this class? <br>This action can't be undone.
                </p>
                <form class="form-group" method="post">
                    <input type="hidden" id="SelectedClass" name="classId" />
                    <input type="hidden" name="StudentId" value="@Model.StudentID" />
                    <input type="hidden" id="IsPublicSchool" name="IsPublicSchool" value="0" />
                    <input type="submit" class="btn btn-primary" name="RemoveClass" value="Remove">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </form>

            </div>

        </div>
    </div>

</div>



