@page
@model Smart.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@{
    var imagePath = "";
    imagePath = @"" + Model.Student.Photo;
}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-page="../Students/Details" asp-route-id="@Model.Student.StudentId">Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="../Grades/Index" asp-route-studentId="@Model.Student.StudentId">Grades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="../Files/Index" asp-route-studentId="@Model.Student.StudentId">Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="../Scheduling/Index" asp-route-studentId="@Model.Student.StudentId">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="../Notes/Index" asp-route-studentId="@Model.Student.StudentId">Notes</a>
                </li>
            </ul>
        </div>
    </nav>

    <form>
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <img src="@imagePath" height="60%" width="40%" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><strong>First Name</strong></label>
                <label>@Html.DisplayFor(model => model.Student.FirstName)</label>
            </div>
            <div class="form-group col-md-6">
                <label><strong>Last Name</strong></label>
                <label>@Html.DisplayFor(model => model.Student.LastName)</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><strong>Address</strong></label>
                <label>@Html.DisplayFor(model => model.Student.Address)</label>
            </div>
            <div class="form-group col-md-6">
                <label><strong>Village</strong></label>
                <label>@Html.DisplayFor(model => model.Student.Village)</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label><strong>Lattitude</strong></label>
                <label>@Html.DisplayFor(model => model.Student.LocationLattitude)</label>
            </div>
            <div class="form-group col-md-6">
                <label><strong>Longitude</strong></label>
                <label>@Html.DisplayFor(model => model.Student.LocationLongitude)</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label><strong>@Html.DisplayNameFor(model => model.Student.PublicSchoolLevel)</strong></label>
                <label>@Html.DisplayFor(model => model.Student.PublicSchoolLevel)</label>
            </div>
            <div class="form-group col-md-4">
                <label><strong>@Html.DisplayNameFor(model => model.Student.EnglishLevel)</strong></label>
                <label>@Html.DisplayFor(model => model.Student.EnglishLevel)</label>
            </div>
            <div class="form-group col-md-4">
                <label><strong>@Html.DisplayNameFor(model => model.Student.ItLevel)</strong></label>
                <label>@Html.DisplayFor(model => model.Student.ItLevel)</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label><strong>@Html.DisplayNameFor(model => model.Student.Phone)</strong></label>
                <label>@Html.DisplayFor(model => model.Student.Phone)</label>
            </div>
            <div class="form-group col-md-4">
                <label><strong>@Html.DisplayNameFor(model => model.Student.StudentStatus)</strong></label>
                <label>@Html.DisplayNameFor(model => model.Student.StudentStatus)</label>
            </div>
            <div class="form-group col-md-4">
                <label><strong>@Html.DisplayNameFor(model => model.Student.GuardianName)</strong></label>
                <label>@Html.DisplayFor(model => model.Student.GuardianName)</label>
            </div>
        </div>
    </form>
<div class="form-group row ">
    <div class="col-2">
        <partial name="_DetailsButtons" />
    </div>
</div>

