@page
@model Smart.Pages.Students.FilesModel

@{
    ViewData["Title"] = "Files";
}

<h1>Files</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.File[0].Path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.File)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.FileId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.FileId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.FileId">Delete</a>
                </td>
            </tr>

        }
        
    </tbody>
</table>
<form method="post" enctype="multipart/form-data">
    <input asp-for="file.Path" type="file" name="file">
    <br />
    <input type="submit" value="Upload" />
</form>

