@page
@model Smart.Pages.Application.DetailsModel

@{
    ViewData["Title"] = "Details";
    var imagePath = @"" + Model.Student.Photo;
}

<h2>Student Details</h2>

<div>
    <hr />

    @*Photo Section*@
    @if (!String.IsNullOrEmpty(imagePath))
    {
        <div class="form-group">
            <img src="@imagePath" height="60%" width="40%" />
        </div>
    }

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Village)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Village)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LocationLattitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LocationLattitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LocationLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LocationLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PublicSchoolLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PublicSchoolLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.EnglishLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.EnglishLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.ItLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.ItLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.GuardianName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.GuardianName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentStatus.Description)
        </dd>
    </dl>
    <div class="form-group row ">
        <div class="col-2">
            <partial name="_DetailsButtons" />
        </div>
    </div>
</div>