@page
@model Smart.Pages.Application.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Applicants</h2>
<br/>

@*Search Box*@
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>            
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>



@*Student Table*@
<table class="table table-striped border col-md-12" id="applicantTable">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FirstNameSort">
                    @Html.DisplayNameFor(model => model.Student[0].FirstName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort">
                    @Html.DisplayNameFor(model => model.Student[0].LastName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PublicSchoolLevelSort">
                    @Html.DisplayNameFor(model => model.Student[0].PublicSchoolLevel)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StatusSort">
                    @Html.DisplayNameFor(model => model.Student[0].StudentStatus)
                </a>
            </th>

            @*Just show for instructors that are logged in*@
            @if (User.IsInRole("Instructor") && !User.IsInRole("Admin"))
            {
                <th>
                        Rated?  
                </th>
            }

            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ScoreSort">
                    Composite Score
                </a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicSchoolLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentStatusId)
            </td>

            @*Just show for instructors that are logged in*@
            @if (User.IsInRole("Instructor") && !User.IsInRole("Admin"))
            {
                if (Model.SetShowCheckBox(item.StudentId))
                {
                    <td>
                        <input type="checkbox" name="isRated" value="idk" onclick="return false" checked>
                    </td>
                }
                else
                {
                    <td>
                        <input type="checkbox" name="isRated" value="idk" onclick="return false">
                    </td>
                }
            }

            @if (User.IsInRole("Admin"))
            {
                @*Calculate Composite Scores*@
                <td>
                    @{
                        decimal scoreEarned = 0;
                        decimal finalScore = 0;

                        foreach (var rating in Model.ApplicantRating)
                        {
                            if (rating.StudentId == item.StudentId)
                            {
                                scoreEarned += rating.ScoreAssigned;
                            }
                        }

                        finalScore = Decimal.Round((scoreEarned / Model.ScorePossible) * 100, 2);

                    }

                    @Html.DisplayFor(modelItem => finalScore)%
                </td>
            }

            @*Button Group*@
            <td style="width:150px">
                <div class="btn-group" role="group">
                    <a class="btn btn-warning text-white" asp-page="Rating" asp-route-Id="@item.StudentId">
                        <i class="fas fa-star"></i>
                    </a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary text-white" asp-page="Edit" asp-route-id="@item.StudentId">
                            <i class="fas fa-edit"></i>
                        </a>
                    }

                    <a class="btn btn-success text-white" asp-page="Details" asp-route-Id="@item.StudentId">
                        <i class="fas fa-list-alt"></i>
                    </a>

                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger text-white" asp-page="Delete" asp-route-Id="@item.StudentId">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Admin"))
{
    <a asp-page="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp;  Create New Applicant </a>
}