@page
@model Smart.Pages.Application.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Applicants</h2><br/>

<table class="table table-striped border col-md-12" id="applicantTable">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FirstNameSort">
                    @Html.DisplayNameFor(model => model.Student[0].FirstName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort">
                    @Html.DisplayNameFor(model => model.Student[0].LastName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PublicSchoolLevelSort">
                    @Html.DisplayNameFor(model => model.Student[0].PublicSchoolLevel)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StatusSort">
                    @Html.DisplayNameFor(model => model.Student[0].StudentStatus)
                </a>
            </th>
            @*<th>
                Rated?  //THIS WILL ONLY SHOW FOR INDIVIDUAL USER VIEW
            </th>*@
        <th>
            <a asp-page="./Index" asp-route-sortOrder="@Model.ScoreSort">
                Composite Score
            </a>
        </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicSchoolLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentStatusId)
            </td>
            @*<td>*@
                @*<input type="checkbox" name="isRated" value="idk" onclick="return false">*@  @*needs to be tied to something, the user can't check them*@
            @*</td>*@
            <td>
                @{ 
                    decimal scoreEarned = 0;
                    decimal finalScore = 0;

                    foreach(var rating in Model.ApplicantRating)
                    {
                        if(rating.StudentId == item.StudentId)
                        {
                            scoreEarned += rating.ScoreAssigned;
                        }
                    }

                    finalScore = Decimal.Round((scoreEarned / Model.ScorePossible) * 100, 2);

                }

                @Html.DisplayFor(modelItem => finalScore)%
            </td>

            @*Button Group*@
            <td style="width:150px">
                <div class="btn-group" role="group">
                    <a class="btn btn-warning text-white" asp-page="Rating" asp-route-Id="@item.StudentId">
                        <i class="fas fa-star"></i>
                    </a>
                    <a class="btn btn-primary text-white" asp-page="Edit" asp-route-id="@item.StudentId">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-success text-white" asp-page="Details" asp-route-Id="@item.StudentId">
                        <i class="fas fa-list-alt"></i>
                    </a>
                    <a class="btn btn-danger text-white" asp-page="Delete" asp-route-Id="@item.StudentId">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </td>

            @*<td>
            <a asp-page="./Edit" asp-route-id="@item.StudentId">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.StudentId">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.StudentId">Delete</a>
        </td>*@
        </tr>
        }
    </tbody>
</table>

<a asp-page="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp;  Create New Applicant </a>