@page
@model Smart.Pages.Application.RatingModel

@{
    ViewData["Title"] = "Ratings";
}

    <div>
        <h4>Student Rating</h4>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.LastName)
            </dd>
        </dl>

        @*<div class="form-group">
            <label asp-for="ApplicantRating.ScoreAssigned" class="control-label"></label>
            <input asp-for="ApplicantRating.ScoreAssigned" class="control-label" />
            <span asp-validation-for="ApplicantRating.RatingCirterium.Description" class="text-danger"></span>
        </div>*@

        @foreach (var item in Model.RatingCirterium)
        {
            <div>
                @item.Description
                @*<input asp-for="ApplicantRating.ScoreAssigned" class="control-label" />*@
                / @item.MaxScore
            </div>
        }
            
        <form method="post">
            <div class="form-group row ">
                <div class="col-2">
                    <partial name="_EditButtons" />
                </div>
            </div>
        </form>

        @*<div class="form-group">
            <label asp-for="ApplicantRating.RatingCirterium.Description" class="control-label"></label>
            <input asp-for="ApplicantRating.RatingCirterium.Description" class="form-control" />
            <span asp-validation-for="ApplicantRating.RatingCirterium.Description" class="text-danger"></span>
        </div>*@

    </div>